/* Reset básico para quitar márgenes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #28E601;
    text-align: center;
}

header {
    position: relative;
    z-index: 1;
}

main {
    position: relative;
    z-index: 1;
}

h1 {
    background: linear-gradient(135deg, #AD75E0 0%, #721DEB 100%);
    color: white;
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-size: 2rem;
    letter-spacing: 1px;
}

h1 strong {
    color: #28E601;
    -webkit-text-stroke: 0.6px black ;
}

h2 {
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li a {
    display: block;
    background-color: #271A29;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    border-left: 5px solid #8d8d8d;
}

li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    color: white;
}

li a p {
    font-size: 0.9rem;
    color:#2DE617
}

#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
}

/* NUEVO CAMBIO: Capa superpuesta para oscurecer y dar el toque morado */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 1, 31, 0.7); /* Morado oscuro con 70% de opacidad */
    z-index: -99; /* Asegura que esté encima del video pero debajo del contenido */
}